html, body {
    height: 100%;
    margin : 0;
    padding : 0
}

div {
    box-sizing: border-box;
}

#root {
    height: 100%;
}

.App {
    background-color: #e9ebee;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow : auto;
}

.ReplyList {
    width : 500px;
    border-radius: 4px;
    padding : 10px 15px;
    border : 1px solid #d4d4d4;
    background-color: #ffffff;


}

.Reply {
    display: flex;
    margin-top: 10px;

    & .Reply-body {
        flex : 1 1 auto;
        overflow: overlay;
        padding-right: 30px;
    }
}

@mixin reply-box {
    border-radius: 18px;
    background-color: #f2f3f5;
}

.ReplyInput {
    @include reply-box;
    display : flex;
    border : 1px solid #d4d4d4;
    height: 35px;
    overflow: hidden;
    padding : 0 10px;
    
    & input {
        border : none;
        background-color: inherit;
        flex : 1 1 auto;
        &::placeholder {
            color : #d4d4d4
        }
        &:focus {
            outline :none;
        }
    }

    & .icons {
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }
}

.ReplyContent {
    @include reply-box;
    padding : 7px;
    display: inline-flex;
    white-space: normal;
    word-wrap: break-word;
    position: relative;
    & .user-name {
        padding-right: 5px;
        line-height: 0.9;
    }

    & .content {
        white-space: normal;
        word-break :break-all;
        font-size : 13px;
    }

    & .LikeChip {
        position: absolute;
        right : -20px;
        bottom : -0px
    }
}

.IconButton {
    margin : 0 5px;
    color : #8e8b8b;
    &:hover {
        cursor: pointer;
        color : #69696d;

    }
}


.TextButton {
    font-size: 12px;   
    color : #385898;
    text-decoration: none;
    &:not(:last-child)::after{
        content :'·';
        margin : 0 3px
    }

    &.bold {
        font-weight: bold;
    }

}

.ProfileImage {
    box-sizing: border-box;
    width : 32px;
    height: 32px;
    border : 1px solid #d4d4d4;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
    &.small {
        width : 20px;
        height: 20px;
    }
}

.ReplyInputContainer{
    padding-top : 10px;
    display: flex;
    & .ReplyInput {
        flex : 1 1 auto;
    }
}

.SubReplyTemplate{
    padding-left : 36px
}

.LikeChip {
    box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
    font-size: 11px;
    border-radius: 10px;
    padding : 2px 8px 2px 23px;
    height: 17px;
    & i {
        background-image: url(/like.jpeg);
        background-size : 17px 17px ;
        padding : 10px;
        background-repeat : no-repeat;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left :3px;
    }
}