html, body {
    height: 100%;
    margin : 0;
    padding : 0
}

div {
    box-sizing: border-box;
}

#root {
    height: 100%;
}

.App {
    background-color: #e9ebee;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReplyList {
    width : 500px;
    border-radius: 4px;
    padding : 10px 15px;
    border : 1px solid #d4d4d4;
    background-color: #ffffff;

    & .ReplyList-footer {
        display: flex;

        & .ReplyInput {
            flex : 1 1 auto;
        }

    }
}

.Reply {
    display: flex;
    margin-bottom: 10px;
    & .img-wrap {

    }

    & .Reply-body {
        flex : 1 1 auto;
        overflow: overlay;
        padding-right: 30px;
    }
}

@mixin reply-box {
    border-radius: 18px;
    background-color: #f2f3f5;
}

.ReplyInput {
    @include reply-box;
    display : flex;
    border : 1px solid #d4d4d4;
    height: 35px;
    overflow: hidden;
    padding : 0 10px;
    
    & input {
        border : none;
        background-color: inherit;
        flex : 1 1 auto;
        &::placeholder {
            color : #d4d4d4
        }
        &:focus {
            outline :none;
        }
    }

    & .icons {
        flex-shrink: 0;
        display: flex;
    }
}

.ReplyContent {
    @include reply-box;
    padding : 10px;
    white-space: normal;
    word-wrap: break-word;
    & .user-name {
        padding-right: 5px;
    }

    & .content {
        flex : 1 1 auto;
        white-space: normal;
        word-wrap: break-word;
        
    }
}

.IconButton {
    width : 32px;
}


.TextButton {
    font-size: 12px;   
    color : #385898;
    text-decoration: none;
    &:not(:last-child)::after{
        content :'·';
        margin : 0 3px
    }

    &.user-name {
        font-weight: bold;
    }

}

.ProfileImage {
    box-sizing: border-box;
    width : 32px;
    height: 32px;
    border : 1px solid #d4d4d4;
    border-radius: 50%;
    width : 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}